<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1862">
    <div class="cs-container">
        <!--Top Section-->
        <div class="cs-top">
            <div class="cs-flex">
                <a href="" class="cs-logo">
                    <img src="/assets/images/logo-short.1.png" alt="logo" aria-hidden="true" loading="lazy" decoding="async" width="317" height="49">
                </a>
                <ul class="cs-social">
                    <li class="cs-social-li">
                        <a href="https://www.instagram.com/bristolplatesdirect/" class="cs-social-link" rel="noopener" target="_blank" aria-label="">
                            <img class="cs-social-icon cs-default" src="/assets/svgs/instagram-derm-footer.svg" alt="icon" loading="lazy" decoding="async" width="24" height="24" aria-hidden="true">
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="cs-ul cs-contact-ul">
                <li class="cs-li">
                    <span class="cs-header">Contact Info</span>
                </li>
                <li class="cs-li">
                    <a href="https://www.google.com/maps/place/113+Gloucester+Rd+N,+Filton,+Bristol+BS34+7PT/@51.507859,-2.5768329,19.75z/data=!4m9!1m2!2m1!1sThe+Old+Church,+113A+Gloucester+Road+North.,+Bristol,+United+Kingdom+BS34+7PT!3m5!1s0x4871919552f6e899:0xe3f0bd56ac4daada!8m2!3d51.5079494!4d-2.5766727!16s%2Fg%2F11ckqm4lfl?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D" class="cs-link" target="_blank" rel="noopener">
                        113A Gloucester Road North <br> Bristol <br> BS34 7PT
                    </a>
                </li>
                <li class="cs-li">
                    <a href="mailto:sales@bristolplatesdirect.co.uk" class="cs-link">
                        sales@bristolplatesdirect.com
                    </a>
                </li>
                <li class="cs-li">
                    <a href="tel:447836778588" class="cs-link">
                        +44 7836 778588
                    </a>
                </li>
            </ul>
            <ul class="cs-ul">
                <li class="cs-li">
                    <span class="cs-header">Office Hours</span>
                </li>
                <li class="cs-li">
                    Monday to Sunday
                </li>
                <li class="cs-li">
                    24 Hours
                </li>
            </ul>
        </div>
        <!--Bottom Section-->
        <div class="cs-bottom">
            <!--Navigation-->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <a href="/" class="cs-nav-link">Home</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/number-plate-prices-bristol" class="cs-nav-link">Prices</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/bristol-plates-direct-faq" class="cs-nav-link">FAQ</a>
                </li>
                <li class="cs-nav-li">
                    <a href="/contact" class="cs-nav-link">Contact</a>
                </li>
            </ul>
            <span class="cs-copyright">
                © Copyright <span id="copyright-year">2025</span> - <a href="" class="cs-copyright-link">Bristol Plates Direct</a> | Developed by <a href="https://www.hussainwebdesigns.co.uk" class="cs-copyright-link" target="_blank" rel="noopener">Hussain Web Designs</a>
            </span>
        </div>
    </div>
    <script>
    document.getElementById('copyright-year').textContent = new Date().getFullYear();
    </script>
</footer>