/*-- -------------------------- -->
<---            Hero            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-2151 {
    /* 160px - 200px - top leaving extra space for the navigation */
    padding: clamp(10rem, 25.95vw, 12.5rem) 0 0 0;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }
  #hero-2151 .cs-container {
    width: 100%;
    max-width: 107.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 6vw, 6.25rem);
  }
  #hero-2151 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 16px - 100px left & right */
    padding: 0 clamp(1rem, 2vw, 6.25rem);
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero-2151 .cs-title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    max-width: 30ch;
  }
  #hero-2151 .cs-text {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.5vw, 1.25rem);
    max-width: 65ch;
    margin: 0 0 2rem 0;
  }
  #hero-2151 .cs-background {
    width: 100%;
    height: 100vw;
    max-height: 29.75rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #hero-2151 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-2151 .cs-graphic {
    /* 200px - 280px */
    width: clamp(12.5rem, 25vw, 17.5rem);
    height: auto;
    display: none;
    position: absolute;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-2151 .cs-graphic {
    display: block;
    bottom: calc(clamp(3rem, 6vw, 6.25rem)*-1);
    left: 0;
    z-index: 0;
  }
  #hero-2151 .cs-content {
    /* 60px - 100px */
    padding-bottom: clamp(3.75rem, 7.82vw, 6.25rem);
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-2151 {
    /* 120px - 250px top */
    /* 60px - 200px  bottom */
    padding: clamp(7.5rem, 23.82vw, 15.625rem) 1rem clamp(3.75rem, 15.82vw, 12.5rem) 1rem;
  }
  #hero-2151 .cs-container {
    flex-direction: row;
  }
  #hero-2151 .cs-content {
    /* removed padding and put it on the section */
    width: 55%;
    /* 16px - 100px */
    padding: 0 clamp(1rem, 2vw, 6.25rem);
  }
  #hero-2151 .cs-background {
    width: 42%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
  }
  #hero-2151 .cs-background img {
    object-position: 70% 90%;
  }
  #hero-2151 .cs-graphic {
    bottom: calc(clamp(3.75rem, 15.82vw, 12.5rem)*-1);
  }
  #hero-2151 .cs-title {
    max-width: 23ch;
  }
}
/* Large Desktop - 1440px */
@media only screen and (min-width: 90rem) {
  #hero-2151 .cs-background {
    width: 50%;
  }
  #hero-2151 .cs-content {
    width: 50%;
  }
  #hero-2151 .cs-graphic {
    left: -4.375rem;
  }
}
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1984 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #sbs-1984:before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.05;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #sbs-1984 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbs-1984 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1984 .cs-text {
    margin-bottom: 1.5rem;
  }
  #sbs-1984 .cs-ul {
    margin: 0 0 2rem 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #sbs-1984 .cs-li {
    font-size: 1rem;
    line-height: 1.5em;
    list-style: none;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1984 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #sbs-1984 .cs-image-group {
    font-size: min(2.7vw, 1rem);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    order: -1;
    row-gap: 1em;
  }
  #sbs-1984 .cs-picture {
    width: 90%;
    height: 11.25em;
    box-sizing: border-box;
    background-color: #DAB692;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    border-radius: 1rem;
    grid-column: span 12;
    display: block;
    z-index: 2;
  }
  #sbs-1984 .cs-picture:nth-of-type(even) {
    margin-left: auto;
  }
  #sbs-1984 .cs-picture:hover img {
    transform: scale(1.1);
  }
  #sbs-1984 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    transition: transform 0.7s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-1984 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
  }
  #sbs-1984 .cs-content {
    /* changes to 100% at 1300px */
    width: 43vw;
    max-width: 39.375rem;
    padding: 4rem 0;
    align-self: center;
  }
  #sbs-1984 .cs-image-group {
    width: 47vw;
    height: 100%;
    min-height: 35.75rem;
    max-width: 35.125rem;
    /* going absolute so we can make it responsive to the content inside the cs-content area. */
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  #sbs-1984 .cs-picture {
    height: auto;
  }
}
/* Small Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #sbs-1984 .cs-content {
    width: 100%;
  }
}
